[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromedriver-py = "*"
coloredlogs = "*"
lxml = "*"
random-user-agent = "*"
requests = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python gpubot.py"
